<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/donations.css" />

        <title>Recycling Center</title>
    </head>
        <h1 id="page-title">Recycling Center</h1>
        <em>Second hand items for donation!</em>
    
        <ul>
            <% donations.forEach(function(donation){ %>
                <form action="/recycling/donations/<%= donation.id %>" method="POST">
                    <div class="img-container">
                        <img class="img-size" src="<%= donation.picture_url %>" alt="<%= donation.title %>"/>
                    </div>
                    <br>
                    <h3 id="donation-title"><%= donation.title %></h3>
                    <br>
                    <p id="donation-description"><%= donation.description %></p>
                    <br>
                    <button type="submit"> CLICK ME </button>
                    <br>
                    <hr>
                </form>
            <% }); %>
    </ul>
</body>

</html>
